<div class="row justify-content-center resetPassword">
    <div class="col-md-6 col-sm-8 col-10">
        <div class="card">
            <div class="card-body">
                <h2>Reset Password</h2>
                <h6 style="margin-top: 15px;">Enter your new password</h6>
                <form style="margin-top: 25px;" #loginForm="ngForm" (ngSubmit)="changePassword()" autocomplete="off">
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" id="password" name="password" [(ngModel)]="model.password" class="form-control" required style="margin-top: 15px;">
                        <label style="margin-top: 15px;" >Confirm password:</label>
                        <input type="password" id="password" name="confirmedpassword" [(ngModel)]="model.confirmedPassword" class="form-control" required style="margin-top: 15px;">
                    </div>
                    <button style="margin-top: 15px;" type="submit" class="btn btn-primary" (click)="changePassword()">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>